################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WordReversalApp/FileContentIndex/f8a4da9c-ae65-4a7e-89ae-89b0a6af5bab.vsidx
